@charset "UTF-8";

/* general page setup */

html {
    /* prevent text size scaling in phone landscape mode */
    -webkit-text-size-adjust: 100%;

    /* enable smooth scrolling */
    scroll-behavior: smooth;
}


body {
    margin: 40px auto 0px;
    border: none;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 100%;
    background-color: #FCFCFC;
}

html, body {
    height:  100%;
}


